html {
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 400;
  font-size: 11px;
  line-height: 18px;

  --color-1: #101214;
  --color-2: #73808D;
}

@page {
  size: A4;

  margin: 0;
}

@media print {
  * {
    page-break-inside: avoid;
  }

  .divider {
    page-break-before: always;
  }
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

body {
  color: var(--color-1);
}
