.text {
  color: var(--color-2);
}

.text_bold {
  font-weight: 400;

  color: var(--color-1);
}

.text_light {
  opacity: 0.5;
}

@page {
  size: A4;

  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  --color-1: #101214;
  --color-2: #73808D;
  --default-indent: 16px 0;
}

h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

body {
  color: var(--color-1);
}

p {
  margin: 4px 0;
}

li {
  position: relative;

  list-style-type: none;
}

li::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 1px;
  height: 4px;
  width: 4px;
  background-color: var(--color-2);
  top: 6px;
  left: -16px;
}

.link {
  text-decoration: none;

  color: var(--color-2);
}

.link_centered {
  display: flex;
  align-items: center;
}

.link_linkedin::before,
.link_site::before,
.link_mail::before,
.link_calendar::before,
.link_github::before,
.link_telegram::before {
  content: '';

  display: inline-block;

  margin-right: 6px;

  padding: 6px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.link_telegram::before {
  background-image: url('assets/telegram.svg');
}

.link_github::before {
  background-image: url('assets/github.svg');
}

.link_calendar::before {
  background-image: url('assets/calendar.svg');
}

.link_linkedin::before {
  background-image: url('assets/linkedin.svg');
}

.link_site::before {
  background-image: url('assets/site.svg');
}

.link_mail::before {
  background-image: url('assets/mail.svg');
}

.link:hover {
  color: var(--color-1);
}

@media print {
  .job {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
}

.job, .education {
  position: relative;
  margin: var(--default-indent);
}

.job:first-of-type, .education:first-of-type {
  margin-top: 0;
}

.job_with-path::before, .education_with-path::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 9px;
  height: calc(100% + 18px);
  width: 2px;
  border-left: 2px solid var(--color-2);
}

.job_with-dashed-path::before, .education_with-dashed-path::before {
  border-left: 2px dashed var(--color-2) !important;
}

.job__header, .education__header {
}

.job__position, .education__degree {
  position: relative;

  font-weight: 700;
}

.job__position_with-point::before, .education__degree_with-point::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 2px;
  height: 8px;
  width: 8px;
  background-color: var(--color-2);
  top: 5px;
  left: -27px;
}

.job__company, .education__establishment {
  font-weight: 400;

  text-transform: uppercase;
}

.job__about {
  font-size: 7px;
  font-weight: 400;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: var(--color-2);
}

.job__duration, .education__duration {
  font-size: 9px;

  color: var(--color-2);
}

@media print {
  .cv__skills {
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }
}

.cv {
  display: flex;

  column-gap: 48px;

  padding: 48px;

  border-top: 4px solid var(--color-1);
}

.cv__main {
  width: 75%;
  max-width: 660px;
}

.cv__additionals {
  width: 25%;
  max-width: 220px;
}

.cv__header {
  margin-bottom: 32px;

  line-height: 28px;
}

.cv__name {
  font-weight: 700;
  font-size: 24px;
}

.cv__position {
  font-weight: 400;
  font-size: 18px;
}

.cv__title {
  color: var(--color-2);

  font-size: 7px;

  letter-spacing: 2px;
  text-transform: uppercase;
}

.cv__about, .cv__experience, .cv__education {
  margin: var(--default-indent);
}

.cv__introduction {
  display: flex;

  flex-direction: column;
}

.cv__contacts, .cv__legend, .cv__skills {
  margin: var(--default-indent);
}

.cv__legend-item {
  display: inline-block;

  border-radius: 2px;
  height: 8px;
  width: 8px;
}

.cv__legend-item_high {
  background-color: var(--color-1);
}

.cv__legend-item_medium {
  background-color: var(--color-2);
}

.cv__legend-item_low {
  opacity: 0.5;

  background-color: var(--color-2);
}
